<<<<<<< HEAD
.primary {
    background-color: #2d55f6;
}
.secondary {
    background-color: #fa6464;
}
=======

$color: (
  "primary": #4b4efc,
  "secondary": #aa72f8,
  "success": #4ade80,
  "warning" : #F59E0B,
  "error" :  #EF4444,
);
>>>>>>> c68dc2b4c1c277aa675235018e7763e159eb6669
